@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=WindSong:wght@400;500&display=swap');

header {
    background-color: #a6401b;
    padding: 40px; 
    margin-top: 0px;
    line-height: 75%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
}

.Logo, .Soups, .Meals, .MeetNana {
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.Logo {
    grid-column: 1;
}

.Soups {
    grid-column: 2;
}

.Meals {
    grid-column: 3;
}   

.MeetNana {
    grid-column: 4;
}   

body {
    background-color: #ebceab;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

h1 {
    font-family: 'quintessential', cursive;
    text-align: center;
    font-size: 50px;
    color: #ffbe4d;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

main {
    flex: 1;
}

footer {
    background-color: #a6401b;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: auto;
}
